body {
    margin: 0;
}

#mast {
    background-color: rgb(30, 30, 30);
    height: 78px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: .5s;
}

#mast-down {
    background-color: #fff;
    height: 78px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: .5s;
    box-shadow: 0 3px 12px rgb(0 0 0 / 10%), 0 6px 10px rgb(0 0 0 / 8%);
    z-index: 1000;
}

/*menu overlay*/

.menu-overlay {
    background-color: rgb(30, 30, 30);
    height: 570px;
    width: 100%;
    opacity: 1;
}

.menu-overlay-op-down {
    background-color: rgb(30, 30, 30);
    height: 570px;
    opacity: 0.1;
    transition: 10s;
}

.container {
    width: 1200px;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 220px;
}

.interior-container {
    text-align: center;
    margin: 0 25% 0 25%;
}

h1 {
    text-align: center;
    font-size: 3.75rem;
    margin: auto;
    color: #fff;
    font-family: "Rozha One", serif;
}

/*button*/

.menu-button {
    position: absolute;
    border-radius: 50%;
    left: 90%;
    top: 15px;
    width: 50px;
    height: 50px;
    background-color: rgb(30, 30, 30);
}

.menu-button button {
    top: -5px;
    left: -3px;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 0;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

.menu-button button:hover {
    box-shadow: 0px 0px 15px 10px #E8B370;
    box-shadow: inset 0px 0px 10px 2px #E8B370;
    animation: 0.3s linear borderRadius;
}

#img-menu {
    position: relative;
    top: 1px;
    width: 42px;
    height: 42px;
}

#img-menu-open {
    position: relative;
    top: 1px;
    right: 2px;
    width: 30px;
    height: 30px;
}

/*modal window*/

.shape {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 0px;
}

.shape-open {
    width: 100%;
    top: 0px;
    animation: 0.5s linear openMenu;
    animation-fill-mode: both;
    background-color: #000;
    z-index: 1000;
}

.shape-closed {
    width: 100%;
    animation: 0.5s linear closedMenu;
    animation-fill-mode: both;
    background-color: #000;
}

ul {
    display: none;
    position: relative;
    text-align: center;
    margin: 0 30%;
    padding: 0;
    top: 100px;
}

.list {
    list-style: none;
    color: #fff;
    font-size: 3.75rem;
    opacity: 1;
    animation: 0.4s linear showMenuList;
    animation-fill-mode: both;
    cursor: pointer;
    z-index: 100;
    transition: 0.6s;
}

ul:hover {
    opacity: 0.8;
    transition: 0.6s;
    z-index: 50;
}

.list:hover {
    color: rgb(255, 180, 90);
    transition: 0.6s;
    opacity: 1;
}

/*greeting*/

.greeting {
    text-align: center;
    margin-bottom: 150px;
}

.greeting h2 {
    color: #444444;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid #999999;
    font-size: 1.5rem;
    line-height: 1.55;
    letter-spacing: 2px;
    font-family: "PantReg", Helvetica, sans-serif;
}

.greeting h3 {
    font-size: 1.4rem;
    line-height: 1.25;
    letter-spacing: 0;
    font-family: Georgia, serif;
    font-weight: 400;
    margin-left: 350px;
    margin-right: 350px;
}

.mar {
    color: #444444;
}

/*content*/

.content {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 150px;
}

.nature {
    position: relative;
    border-bottom: 1px solid rgba(255, 170, 65, 0.7);
    text-align: center;
    font-size: 2.75rem;
    margin: auto;
    color: #444444;
    font-family: "Rozha One", serif;
    z-index: 10
}

.anim-img {
    width: 40%;
    height: 500px;
    filter: grayscale(100%);
    cursor: pointer;
    border: 15px solid #E8B370;
}

.anim-img:hover {
    animation: .5s linear grayscaleModeOff;
    animation-fill-mode: both;
}

.anim-img p {    
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.4rem;
    font-family: Georgia, serif;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 98;
    top: 60%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.anim-img:hover p {
    background: rgba(255, 170, 65, 0.7);
    transition: .6s;
}

#img-right {
    background: url('./img/mount1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img-left {
    background: url('./img/mount2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img-right-turn {
    background: url('./img/ocean1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img-left-turn {
    background: url('./img/ocean2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/

footer {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 300px;
    text-decoration: none;
}

footer div {
    margin-top: 70px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.info {
    color: #E8B370;
    font-size: 2rem;
    display: block;
    animation: 0.5s linear showInfo;
    animation-fill-mode: both;
}

.info p {
    margin: 30px 0;
    font-family: "PantReg", Helvetica, sans-serif;
}

#resourses a {
    text-decoration: none;
    color: #E8B370;
}

/*animations*/

@keyframes grayscaleModeOff {
    0% {
        filter: grayscale(100%);
    }
    25% {
        filter: grayscale(75%);
    }
    50% {
        filter: grayscale(50%);
    }
    75% {
        filter: grayscale(25%);
    }
    100% {
        filter: grayscale(0%);
    }
}

@keyframes borderRadius {
    0% {
        box-shadow: 0px 0px 0px 1px #E8B370;
    }
    100% {
        box-shadow: 0px 0px 6px 4px #E8B370;
    }
}

@keyframes openMenu {
    0% {
        height: 0px;
    }
    25% {
        height: 142px;
    }
    50% {
        height: 284px;
    }
    75% {
        height: 426px;
    }
    100% {
        height: 570px;
    }
}

@keyframes closedMenu {
    0% {
        height: 570px;
    }
    25% {
        height: 426px;
    }
    50% {
        height: 284px;
    }
    75% {
        height: 142px;
    }
    100% {
        height: 0px;
    }
}

@keyframes showMenuList {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}