/*content*/

.content {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 150px;
}

.nature {
    position: relative;
    border-bottom: 1px solid rgba(255, 170, 65, 0.7);
    text-align: center;
    font-size: 2.75rem;
    margin: auto;
    color: #444444;
    font-family: "Rozha One", serif;
    z-index: 10
}

.anim-img {
    width: 40%;
    height: 400px;
    filter: grayscale(100%);
    cursor: pointer;
    border: 10px solid #E8B370;
}

.anim-img:hover {
    animation: .5s linear grayscaleModeOff;
    animation-fill-mode: both;
}

.anim-img p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.4rem;
    font-family: Georgia, serif;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 98;
    top: 60%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.anim-img:hover p {
    background: rgba(255, 170, 65, 0.7);
    transition: .6s;
}

#img-right {
    background: url('../img/mount1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img-left {
    background: url('../img/mount2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img-right-turn {
    background: url('../img/ocean1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#img-left-turn {
    background: url('../img/ocean2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}